Repository Stargazers-Consulting-LLC/creampie: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, prettier

typescript:
  name: typescript
  entry: bash -c 'cd cream_ui && yarn tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd cream_ui && yarn prettier --config .prettierrc'
  language: system
  pass_filenames: false
  fail_fast: false
  stages:
  - pre-commit

Move folders around
  ai/features/summaries/[COMPLETED]-stock_data_processing_pipeline_summary.json
  ai/project_context/common_patterns.json
  cream_api/stock_data/config.py
Due: prettier

Major enhancements to logging and hooks
  ai/ai_config.json
  ai/guide_docs/core_principles.json
  ai/guide_docs/language_specific/python_style_guide.json
  ai/guide_docs/pattern_inheritance_template.json
  cream.md
  cream_api/background_tasks/__init__.py
  cream_api/main.py
  cream_api/settings.py
  cream_api/stock_data/retriever.py
  cream_api/stock_data/tasks.py
  humans/guides/python_style_guide.md
  poetry.lock
  scripts/ai_health_check.py
  scripts/dynamic_integration.py
  scripts/install_pre_commit_hook.py
  scripts/pre-commit-hook.py
Due: prettier

Housekeeping
  cream_api/settings.py
  scripts/ai_health_check.py
  scripts/db/fix_migration_state.sh
  scripts/db/grant_table_permissions.sh
  scripts/db/migrate.sh
  scripts/db/rollback_migration.sh
  scripts/dynamic_integration.py
  scripts/lint.sh
  scripts/pre-commit-hook.py
  scripts/run_pytest.py
  scripts/run_pytest.sh
  stock_data/files/deadletter_responses/INVALID.html
Due: none

Please let this be the end of this test scaffolding
  scripts/run_pytest.sh
Due: none

STOCK-001
  ai/guide_docs/language_specific/python_style_guide.json
  ai/search_index.json
  cream_api/stock_data/schemas.py
  cream_api/tests/stock_data/test_schemas.py
  humans/guides/python_style_guide.md
  humans/tasks/backend/STOCK-001-create-pydantic-schemas.md
  poetry.lock
  pyproject.toml
  pytest.ini
  scripts/ai_health_check.py
  scripts/dynamic_integration.py
  scripts/install_pre_commit_hook.py
  scripts/lint.sh
  scripts/pre-commit-hook.py
Due: prettier

style
  ai/ai_config.json
  ai/ai_quick_reference.json
  ai/guide_docs/core_principles.json
  ai/guide_docs/language_specific/python_style_guide.json
  cream_api/stock_data/api.py
  cream_api/stock_data/schemas.py
  cream_api/tests/stock_data/test_schemas.py
  humans/guides/python_style_guide.md
Due: prettier

STOCK-002 implementation
  .mdc
  ai/ai_config.json
  ai/guide_docs/core_principles.json
  ai/guide_docs/domain_specific/database_management_guide.json
  ai/guide_docs/language_specific/python_style_guide.json
  cream_api/common/exceptions.py
  cream_api/stock_data/api.py
  cream_api/stock_data/models.py
  cream_api/stock_data/schemas.py
  cream_api/stock_data/services.py
  cream_api/tests/stock_data/test_schemas.py
  cream_api/tests/stock_data/test_services.py
  humans/guides/database_style_guide.md
  humans/guides/python_style_guide.md
  humans/tasks/backend/STOCK-002-implement-business-logic.md
  humans/tasks/backend/STOCK-003-add-api-endpoints.md
  pytest.ini
Due: prettier

STOCK-003
  .cursorrules
  ai/ai_quick_reference.json
  ai/ai_usage_guide.json
  ai/features/plans/JWT-001-implement-jwt-authentication.json
  ai/search_index.json
  cream_api/common/rate_limiter.py
  cream_api/stock_data/api.py
  cream_api/stock_data/constants.py
  cream_api/stock_data/schemas.py
  cream_api/stock_data/services.py
  cream_api/tests/common/test_rate_limiting.py
  cream_api/tests/stock_data/test_api.py
  cream_api/tests/stock_data/test_api_integration.py
  cream_api/tests/stock_data/test_constants.py
  cream_api/tests/stock_data/test_models.py
  cream_api/tests/stock_data/test_schemas.py
  cream_api/tests/stock_data/test_services.py
  cream_api/users/routes/auth.py
  humans/plans/jwt_authentication_implementation_plan.md
  humans/tasks/backend/STOCK-003-add-api-endpoints.md
Due: prettier

STOCK-004
  .gitignore
  ai/guide_docs/core_principles.json
  ai/guide_docs/domain_specific/shell_style_guide.json
  ai/guide_docs/language_specific/python_testing_style_guide.json
  ai/project_context/development_workflow.json
  cream_api/tests/stock_data/test_api.py
  cream_api/tests/stock_data/test_schemas.py
  cream_api/tests/stock_data/test_services.py
  cream_api/tests/stock_data/test_tasks.py
  humans/tasks/backend/STOCK-004-backend-testing.md
  scripts/run_pytest.sh
Due: prettier

RE, I hope for the last time, OPTIMIZED
  .cursor/workspace.json
  .cursorrules
  ai/README.md
  ai/ai_config.json
  ai/ai_quick_reference.json
  ai/ai_rules.json
  ai/ai_usage_guide.json
  ai/features/plans/JWT-001-implement-jwt-authentication.json
  ai/features/plans/[IN-PROGRESS]-Stock Tracking Request Plan.json
  ai/features/readme.json
  ai/features/summaries/[COMPLETED]-stock_data_processing_pipeline_summary.json
  ai/guide_docs/ai_tool_optimization_guide.json
  ai/guide_docs/code_review_patterns.json
  ai/guide_docs/core_principles.json
  ai/guide_docs/domain_specific/database_management_guide.json
  ai/guide_docs/domain_specific/shell_style_guide.json
  ai/guide_docs/feature_template.json
  ai/guide_docs/implementation_guide_template.json
  ai/guide_docs/language_specific/python_style_guide.json
  ai/guide_docs/language_specific/python_testing_style_guide.json
  ai/guide_docs/language_specific/react_style_guide.json
  ai/guide_docs/pattern_inheritance_template.json
  ai/guide_docs/readme.json
  ai/project_context/architecture_overview.json
  ai/project_context/common_patterns.json
  ai/project_context/development_workflow.json
  ai/project_context/readme.json
  ai/readme.json
  ai/search_index.json
  scripts/ai_health_check.py
  scripts/ai_output_helper.py
  scripts/dynamic_integration.py
Due: prettier

User update and STOCK-005
  cream_api/tests/test_auth.py
  cream_api/users/routes/auth.py
  cream_ui/package.json
  cream_ui/src/App.tsx
  cream_ui/src/pages/auth/LoginPage.tsx
  cream_ui/src/pages/auth/SignUpPage.tsx
  cream_ui/src/test-setup.ts
  cream_ui/vitest.config.ts
  cream_ui/yarn.lock
  humans/tasks/frontend/STOCK-005-create-api-client.md
  package.json
  scripts/db/migrate.sh
  yarn.lock
Due: typescript, prettier

Fix migration script
  cream_api/ai/outputs/migration_results/migration-results.json
  cream_api/migrations/versions/f9a64abef2b9_auto_migration.py
  scripts/common.sh
  scripts/db/fix_migration_state.sh
  scripts/db/grant_table_permissions.sh
  scripts/db/migrate.sh
  scripts/db/rollback_migration.sh
Due: prettier

STOCK-005
  .gitignore
  cream_ui/package.json
  cream_ui/src/components/stock-tracking/StockRequestForm.tsx
  cream_ui/src/components/stock-tracking/__tests__/StockRequestForm.test.tsx
  cream_ui/src/test-setup.ts
  cream_ui/vitest.config.ts
  cream_ui/yarn.lock
  humans/guides/python_style_guide.md
  humans/guides/python_testing_style_guide.md
  humans/guides/react_style_guide.md
  package.json
  scripts/run_react_tests.sh
  yarn.lock
Due: typescript, prettier

Hygene
  ai/features/complete/stock_data_processing_pipeline_summary.json
  ai/features/in_progress/stock_tracking_request_plan.json
  ai/features/readme.json
  ai/features/todo/implement-jwt-authentication.json
  ai/guide_docs/readme.json
  ai/project_context/readme.json
  ai/search_index.json
  cream.md
  scripts/ai_health_check.py
  scripts/output_helper.py
Due: prettier

I guess I did STOCK-006 yesterday
  humans/tasks/frontend/STOCK-006-create-stock-request-form.md
  scripts/run_pytest.sh
Due: prettier

STOCK-007--009
  cream.md
  cream_api/common/constants.py
  cream_api/main.py
  cream_api/stock_data/api.py
  cream_api/stock_data/schemas.py
  cream_api/tests/common/test_rate_limiting.py
  cream_api/tests/conftest.py
  cream_api/tests/integration/test_stock_tracking_integration.py
  cream_api/tests/stock_data/test_api.py
  cream_api/tests/stock_data/test_api_integration.py
  cream_api/tests/stock_data/test_schemas.py
  cream_api/tests/test_auth.py
  cream_api/users/routes/auth.py
  cream_ui/src/App.tsx
  cream_ui/src/__tests__/integration/stock-tracking-integration.test.tsx
  cream_ui/src/components/Navigation.tsx
  cream_ui/src/components/auth/AdminRoute.tsx
  cream_ui/src/components/auth/__tests__/AdminRoute.test.tsx
  cream_ui/src/pages/StockRequestPage.tsx
  cream_ui/src/pages/__tests__/StockRequestPage.test.tsx
  cream_ui/src/pages/admin/TrackedStocksPage.tsx
  cream_ui/src/pages/admin/__tests__/TrackedStocksPage.test.tsx
  cream_ui/src/vite-env.d.ts
  cream_ui/tsconfig.app.json
  humans/tasks/frontend/STOCK-007-create-tracked-stocks-page.md
  humans/tasks/frontend/STOCK-008-add-navigation-routes.md
  humans/tasks/frontend/STOCK-009-frontend-testing.md
  scripts/run_integration_tests.sh
Due: typescript, prettier

Cleanup
  ai/features/complete/stock_tracking_request_plan.json
  ai/features/plans/JWT-001-implement-jwt-authentication.json
  ai/features/plans/[IN-PROGRESS]-Stock Tracking Request Plan.json
  ai/features/summaries/[COMPLETED]-stock_data_processing_pipeline_summary.json
  ai/guide_docs/language_specific/react_style_guide.json
  cream_api/tests/test_auth.py
  cream_api/tests/test_main.py
  cream_ui/src/App.tsx
  cream_ui/src/__tests__/integration/stock-tracking-integration.test.tsx
  cream_ui/src/components/Navigation.tsx
  cream_ui/src/components/auth/ProtectedRoute.tsx
  cream_ui/src/components/auth/__tests__/AdminRoute.test.tsx
  cream_ui/src/components/stock-tracking/StockRequestForm.tsx
  cream_ui/src/components/stock-tracking/__tests__/StockRequestForm.test.tsx
  cream_ui/src/main.tsx
  cream_ui/src/pages/LandingPage.tsx
  cream_ui/src/pages/__tests__/StockRequestPage.test.tsx
  cream_ui/src/pages/admin/__tests__/TrackedStocksPage.test.tsx
  cream_ui/src/pages/auth/LoginPage.tsx
  cream_ui/src/pages/auth/SignUpPage.tsx
  cream_ui/src/pages/auth/VerifyEmailPage.tsx
  humans/guides/react_style_guide.md
  humans/tasks/integration/STOCK-010-integration-testing.md
  humans/tasks/integration/STOCK-011-deployment-validation.md
Due: typescript, prettier

style guide enforcement
  ai/ai_rules.json
  cream_api/ai/outputs/migration_results/migration-results.json
  cream_api/common/exceptions.py
  cream_api/db.py
  cream_api/main.py
  cream_api/settings.py
  cream_api/stock_data/__init__.py
  cream_api/stock_data/api.py
  cream_api/stock_data/config.py
  cream_api/stock_data/constants.py
  cream_api/stock_data/loader.py
  cream_api/stock_data/models.py
  cream_api/stock_data/parser.py
  cream_api/stock_data/retriever.py
  cream_api/stock_data/schemas.py
  cream_api/stock_data/tasks.py
  cream_api/tests/stock_data/stock_data_test_constants.py
  cream_api/tests/stock_data/test_schemas.py
  cream_api/tests/stock_data/test_services.py
  cream_api/users/__init__.py
  cream_api/users/models/__init__.py
  cream_api/users/models/app_user.py
  cream_api/users/models/app_user_session.py
  cream_api/users/routes/__init__.py
  cream_api/users/routes/auth.py
  humans/guides/python_style_guide.md
  humans/plans/stock_tracking_request_plan.md
Due: prettier

Page fixes.
  ai/ai_rules.json
  cream_api/stock_data/api.py
  cream_ui/eslint.config.js
  cream_ui/src/components/Navigation.tsx
  cream_ui/src/components/stock-tracking/__tests__/StockRequestForm.test.tsx
  cream_ui/src/components/ui/input.tsx
  cream_ui/src/components/ui/textarea.tsx
  cream_ui/src/pages/LandingPage.tsx
  cream_ui/src/pages/StockRequestPage.tsx
  cream_ui/src/pages/admin/__tests__/TrackedStocksPage.test.tsx
  cream_ui/src/pages/auth/VerifyEmailPage.tsx
Due: typescript, prettier

Version bumps
  cream_ui/package.json
  package.json
  poetry.lock
  pyproject.toml
Due: prettier

Editorial
  humans/README.md
  humans/guides/ai_workflows_guide.md
Due: prettier

I knew I forgot something
  pyproject.toml
  readme.md
Due: prettier

Ask Cursor what I need to do before I can deploy.
  humans/observations/production_deployment_guide.md
  humans/observations/production_readiness_analysis.md
  humans/observations/production_readiness_analysis_verification.md
Due: prettier

Path conditions:
  typescript: any of: \.(ts|tsx)$
  prettier: any of: \.(css|less|scss|ts|tsx|graphql|gql|json|js|jsx|md)$
